
.country-detail-container {
  margin: 5.0vw;
  padding: 1.0vw;
  border: solid 0.1vw black;
}

.flag-container {
  margin: 0vw;
  padding: 0vw;
  width: 15.0vw;
  height: 15.0vw;
  display: block;
  border: solid 0.1vw black;
}

  img {
    margin: 0.0vw;
    padding: 0.5vw;
    width: 14.0vw;
    height: 14.0vw;
    display: block;
    align-content: center;
    align-items: center;
    justify-content: space-evenly;
}

